/*Orange

r 255 g 127 b 0

#ff7f00

Green

r 0 g 100 b 75

#00644b

Blue

r 75 g 130 b 191

#4b82bf

light green

r 106 g 194	b 89

#6ac259

light orange

r 250 g 166 b 53

#faa635*/

#wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
}

.header {
   padding: 2em;
  background-color: blue;
  color: #ffffff;
}

.header img {
  width: 50%;
}

#what {

}

#bussinesses {
  background-color: blue;
  color: #ffffff;
}

#offer {

}

#why {

}

#industry {
  background-color: blue;
  color: #ffffff;
}
